.container {  
  background-color: var(--backgroundDark);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.containerGeral{
  display: grid;
  overflow: hidden;
  align-items: center;
  height: 100vh;
}


.slider{
  transform: translateX(32vw);  
  overflow: hidden;
  align-items: center;
  z-index: 1;
  cursor: grab;  
  -webkit-mask-image: linear-gradient( 
    to left, 
    black 68%, 
    transparent 95%
  );    
  background-attachment: fixed;
  
}

.slider:active{
  cursor: grabbing;
}

.containerGameInfo{
  position: absolute;
  top: 0px;
  left: 0px;
  width: fit-content;
  max-width: 40%;
  height: 100%;
  background-color: #111111;
  z-index: 2;  
  align-items: center;  
  display: grid;      
  grid-template-rows: max-content 1fr;
}
.containerGameInfo > div:first-child{
  padding: 2rem;  
}
.title{
  font-family: "VALORANT", arial,georgia,sans-serif;
  color: var(--white);
}

.containerGameInfo > div:last-child{
  padding: 3rem;
  display: grid;
  grid-auto-rows: max-content;  
  gap: 1rem;
  width: 34vw;
}

.containerGameInfo > div > h2{
  font-size: 7rem;
  animation: textAppearBottom 0.3s ease-out ;  
  color: var(--white);
}
.containerGameInfo > div > p{  
  animation: textAppearTop 0.3s ease-out ;  
  color: var(--white);
}

.backgroundCard{
  color: var(--white);
  position: fixed;
  top: 0px;
  right: 0px;
  width: 35.7%;
  height: 100%;
  background-color: var(--color-primary);
  z-index: 0;
  display: grid;
  padding: 2rem;
}

.backgroundCard > div{
  display: flex;
  height: fit-content;
  align-self: flex-end;
  justify-content: center;
}

.backgroundCard > div > button{
  padding: 0.6rem 0.9rem;
  background-color: var(--grey);
  opacity: 1;
  display: grid;
  place-items: center;
  color: var(--white);
}

.backgroundCard > div > p{
  padding: 0.6rem 1.2rem;
  background-color: var(--background-dark);
  display: grid;
  place-items: center;
  opacity: 1;
}

.card{  
  background-color: var(--grey);  
  display: grid;  
  grid-template-rows: 1fr max-content;
  padding: 5rem 2rem ;    
  transition: height 0.2s ease-in-out;
  
}
.card > img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.cardInner{
  color: var(--white);
  display: grid;
  width: 100%;
  height: max-content;
  place-self: center;
  gap: 0.5rem;
  place-items: center;
}
.cardInner > hr{
  width: 100%;
}
.cardInner > h2{
  font-size: 5.5rem;
  text-align: center;
}


@keyframes textAppearBottom {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  30%{
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textAppearTop {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  30%{
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



@media only screen and (max-width: 768px) {
  .backgroundCard{
    width: 100%;
    /* background-color: var(--background-dark); */
  }   
  .containerGameInfo > div:first-child{
    padding: 1.5rem;  
  }
  .containerGameInfo > div:last-child{
    padding: 1.5rem;  
    width: fit-content;
  }
  .containerGameInfo{
    background: transparent;
    position: absolute;
    height: max-content;    
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .containerGameInfo > div:last-child > p{
    width: fit-content;
    text-align: end;
  }
  .slider{
    transform: translateX(0);
    -webkit-mask-image: none;    
  }

  .backgroundCard > div{
    display: none;
  }
}
