@font-face {
  font-family: "VALORANT";    
  src: url('../../assets/VALORANT/VALORANT.ttf');  
}

@font-face {
  font-family: "DINNextW1G-Bold";    
  src: url('../../assets/DINNextW1G/DINNextW1G-Bold.ttf');    
}

@font-face {
  font-family: "DINNextW1G-Regular";    
  src: url('../../assets/DINNextW1G/DINNextW1G-Regular.ttf');    
}
@font-face {
  font-family: "Tungsten Bold";    
  src: url('../../assets/Tungsten/Tungsten-Bold.ttf');    
}

:root {
  --background-dark: #111111;
  --grey: #292929;
  --color-primary: #FF4655;
  --white: #ECE8E1
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "DINNextW1G-Regular",arial,georgia,sans-serif;
  background-color: var(--background-dark);
}

p {   
  font-family: "DINNextW1G-Regular",arial,georgia,sans-serif;
}

h4 {
  font-family: "DINNextW1G-Bold",arial,georgia,sans-serif;
}

h1,h2,h3 {
  font-family: "Tungsten Bold",arial,georgia,sans-serif;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "DINNextW1G-Bold",arial,georgia,sans-serif;
  padding: 1rem 3rem;
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  } */
}
